 #logo{
    width: 50px;
    height: 50px;
}

img{
    width: 100%;
    height: 350px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3px;
}
.title{
    width: 400px;
    text-align: justify;
    font-size: 15px;
    color: rgb(91, 151, 255);
}

.description{
    text-align: justify;
    font-size: 20px;
    color:rgb(0, 0, 0);
    letter-spacing: 1px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.publishedAt{
    text-align: center;
    color: rgb(89, 89, 89);
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.author{
    font-size: 35px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0px;
}


a{
    transition: 0.3s all ease-out;
    color: black;
}
a:hover{
    background-color: rgb(0, 153, 255);
    color: black;
}
  body{
    background-color: rgb(182, 221, 255);
  }
  .navbars{   
     background-color: rgb(124, 194, 255);
  }
  .mainDiv{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}
.card{
    padding: 10px;
    border-radius: 5px;
    background-color:rgb(209, 233, 255);
}
.card:hover{ 
    background-color:rgb(201, 223, 244);
}
.card-text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(83, 83, 200);
    font-size: 17px;
}
.form-control{
    background-color: rgb(209, 233, 255);
    border: 1px solid black;
}
.card-title{
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}